html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #4c78a5;
    color: #fff;
    font-family: arial;
    letter-spacing: 2px;
  }
  
  .wrapper {
    /* background-color: rgb(15, 96, 226); */
    font-size: 30px;
  }
  
  .wave {
    color: #999999;
    animation: 0.5s color infinite;
  }
  
  @keyframes color {
    50% {
      color: #8fc8ae;
    }
  }

style
    .center {
        margin: 0 auto;
        /* text-align: center; */
    }
    /* .color_block {
        background-color: aquamarine;

    } */
    
#title{
    padding-left: 10px;
} 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

/* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 100px;
} */

.text {
  position: absolute;
  width: 400px;
  left: 45%;
  margin-left: -225px;
  height: 200px;
  top: 40%;
  margin-top: -20px;
}

p {
  font-size: 70px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 400px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #ae54d4;
}

.belize {
  color: #3399dd;
}

.pomegranate {
  color: #d84130;
}

.green {
  color: #16a085;
}

.midnight {
  color: #e29313;
}
